{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Panier</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for element in data %}
                        <tr>
                            <td>{{ element.produit.nom }}</td>
                            <td>{{ element.produit.prix / 100 }} €</td>
                            <td>{{ element.quantite }}</td>
                            <td>{{ element.quantite * element.produit.prix / 100 }} €</td>
                            <td>
                                <a href="{{ path('panier_add', {id: element.produit.id}) }}" class="btn btn-success">+</a>
                                <a href="{{ path('panier_remove', {id: element.produit.id}) }}" class="btn btn-warning">-</a>
                                <a href="{{ path('panier_delete', {id: element.produit.id}) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if data is empty %}
                        <tr>
                            <td colspan="5">Votre panier est vide</td>
                        </tr>
                    {% endif %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                        <td>{{ total }} €</td>
                        <td>
                            <a href="{{ path('panier_vide') }}" class="btn btn-danger">Vider</a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
                <a href="{{ path('commande_add') }}" class="btn btn-primary">Valider le panier</a>
            </div>
        </section>
    </main>
{% endblock %}
