{% extends 'base.html.twig' %}

{% block title %}Modifier Catégorie{% endblock %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>Modifier Catégorie</title>
        <link href="{{ asset('js/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('js/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet" />
        <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <style>
            .custom-file-input {
                color: transparent;
            }
            .custom-file-input::-webkit-file-upload-button {
                visibility: hidden;
            }
            .custom-file-input::before {
                content: 'Sélectionner une image ';
                color: #000000;
                background-color: #f5f5f5;
                display: inline-block;
                padding: 12px 100px;
                border-radius: 5px;
                cursor: pointer;
            }

            .color-picker-container {
                display: flex;
                align-items: center;
                margin-top: 10px;
            }
            .color-picker {
                width: 30px;
                height: 30px;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                margin-right: 10px;
                cursor: pointer;
            }

            .color-text {
                margin-left: 10px;
            }

            .custom-file-input:hover::before {
                background-color: rgb(208, 207, 207);
            }
            .custom-file-input:active::before {
                background-color: #d9dcd9;
            }

            .form-container {
                max-width: 600px; /* Taille maximale du rectangle */
                margin: 0 auto; /* Centrer le rectangle */
            }
        </style>
    </head>
    <main id="main" class="main-signup">
        <!-- ======= Our login ======= -->
        <section class="section d-flex justify-content-center">
            <div class="form-container shadow p-3 mb-5 justify-content-center bg-white" style="margin-top: 5rem">
                <div class="form form-content">
                    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
                    <h1 class="login-title" style="color: #f26430">Modifier Catégorie</h1>

                    <div class="field input-field">
                        {{ form_widget(form.nom, {
                            'attr': {'placeholder': 'Nom de la catégorie', 'class': 'input'}
                        }) }}
                    </div>

                    <div class="field input-field">
                        <div class="custom-file-container">
                            {{ form_widget(form.image, {'attr': {'class': 'custom-file-input'}}) }}
                            <label class="custom-file-label" for="{{ form.image.vars.id }}"></label>
                        </div>
                    </div>

                    <div class="field input-field">
                        <div class="" style="margin-left: 20px;"></div>
                        {{ form_widget(form.couleur, {'attr': {'class': 'input', 'type': 'hidden'}}) }}
                    </div>

                    <div class="field button-field">
                        <button type="submit" class="btn btn-primary">Mettre à jour</button>
                    </div>

                    {{ form_end(form) }}

                    <div class="form-link">
                        <a href="{{ path('app_categorie_index') }}" class="link signup-link">Retour à la liste</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            const pwShowHide = document.querySelectorAll(".eye-icon");

            pwShowHide.forEach((eyeIcon) => {
                eyeIcon.addEventListener("click", () => {
                    let pwFields = eyeIcon.closest('.input-field').querySelectorAll(".password");

                    pwFields.forEach((password) => {
                        if (password.type === "password") {
                            password.type = "text";
                            eyeIcon.classList.replace("bx-hide", "bx-show");
                        } else {
                            password.type = "password";
                            eyeIcon.classList.replace("bx-show", "bx-hide");
                        }
                    });
                });
            });

            // Color Picker
            const colorPicker = document.querySelector('.color-picker');
            const couleurInput = document.querySelector('input[name="categorie[couleur]"]');

            colorPicker.addEventListener('click', () => {
                const couleur = prompt("Entrez une couleur (par exemple: #FF0000 pour rouge)");

                if (couleur) {
                    couleurInput.value = couleur;
                    colorPicker.style.backgroundColor = couleur;
                }
            });
        });
    </script>
{% endblock %}
